<div class="row">
    <div class="col-md-3 body">
        <form>     
            <div class="form-group col-md-4">
                <label for="Distance">Radius </label>
                <select class="form-select form-select-sm mb-2" id="distance" name="radius" [(ngModel)]="inputRadius" name="inputRadius">
                    <option value="5">1 km</option>
                    <option value="5">5 km</option>
                    <option value="10">10 km</option>
                    <option value="20">20 km</option>
                    <option value="25">30 km</option>
                    <option value="25">40 km</option>
                    <option value="25">50 km</option>
                </select>
            </div>           
            <div class="form-group col-md-4 ml-3">
                <label for="latitude">Latitude</label>
                <input type="text" class="form-control" [(ngModel)]="inputLatitude" name="inputLatitude">
            </div>
            <div class="form-group col-md-4">
                <label for="Longitude">Longitude</label>
                <input type="text" class="form-control" [(ngModel)]="inputLongitude" name="inputLongitude">
            </div>
            <button type="submit" class="btn btn-outline-success" (click)="search()">Search</button>
            <hr>
        </form>
        <div style="overflow-y: auto; height: 300px;">
            <div *ngFor="let charger of chargers">
              <app-charger [charger]="charger" (passData)="selectedCharger(charger)"></app-charger>
            </div>
          </div>
         <hr>
    </div>
    <div class="col-md-2">
        <div class="col-md-2">
            <div class="btn-group">
                <button class="btn btn-outline-success" type="submit" (click)="selectedPoland()">Poland</button>
                <button class="btn btn-outline-success" type="submit" (click)="selectedGermany()">Germany</button>  
                <button class="btn btn-outline-success" type="submit" (click)="selectedCzechRepublic()">Czech Republic</button>  
            </div>
        </div>
        <div class="list-group" *ngIf="isPolandSelected">
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(52.2297,21.01221)">Warszawa</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(52.2297,21.01221)">Gdańsk</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(51.2465,22.5684)">Lublin</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(51.4029,21.1471)">Radom</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(50.0442,19.5071)">Katowice</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(50.0647,19.9450)">Kraków</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(50.6755,17.9213)">Opole</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(50.0412,21.9991)">Rzeszów</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(51.9356,15.5064)">Zielona Góra</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(53.4285,14.5528)">Szczecin</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(53.1235,18.0076)">Bydgoszcz</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(53.0138,18.5984)">Toruń</button>
          </div>
        <div class="list-group" *ngIf="isGermanySelected">      
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(52.5200,13.4050)">Berlin</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(53.5511,9.9937)">Hamburg</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(48.1351,11.5820)" >Munich</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(50.9375,6.9603)">Cologne</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(50.1109,8.6821)" >Frankfurt</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(51.0504,13.7373)" >Dresden</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(52.3759,9.7320)" >Hanover</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(48.7758,9.1829)" >Stuttgart</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(51.3397,12.3731)" >Leipzig</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(51.5136,7.4653)" >Dortmund</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(49.4521,11.0767)" >Nürnberg</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(53.0793,8.8017)" >Bremen</button>
          </div>
          <div class="list-group" *ngIf="isCzechRepublicSelected">      
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(50.0755, 14.4378)">Prague</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(49.1951, 16.6068)">Brno</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(49.8209, 18.2625)">Ostrava</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(49.7391, 13.3686)">Pilsen</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(50.7671, 15.0565)">Liberec</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(50.6607, 14.0320)">Ústí nad Labem</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(49.5938, 17.2509)">Olomouc</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(48.9745, 14.4745)">České Budějovice</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(50.2083, 15.8277)">Hradec Králové</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(50.0379, 15.7815)">Pardubice</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(49.2260, 17.6647)">Zlín</button>
            <button type="button" class="list-group-item list-group-item-action" (click)="searchWithValues(50.2329, 12.8718)">Karlovy Vary</button>
          </div>  
          <form>
            <div class="form-group">
              <label for="formControlRange">Distance (km)</label>
              <input type="range" class="form-control-range" id="formControlRange" min="1" max="50" [(ngModel)]="inputRadius" (input)="updateInputRadius($event)">
              <br><span>{{ inputRadius }} km</span>
            </div>
          </form>
          
          
   
      </div>
      
      
   <div class="col-md-6 details">
        <app-place-details *ngIf="selectedChargerData; else infoText" [charger]="selectedChargerData"></app-place-details>
        <p *ngIf="!selectedChargerData">No charger selected. Please search and select a charger.</p>
   </div>
   <ng-template #infoText>
    <p>No charger selected. Please search and select a charger.</p>
  </ng-template>
</div>

