<nav class="navbar navbar-expand-lg" style="background-image: linear-gradient(to right, #C4E538, #4cd137);">
    <a class="navbar-brand" href="#">Green energy around you!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Home</a>
        <a class="nav-item nav-link" href="#">About</a>
      </div>
    </div>
  </nav>
