<div class="body">
    <div class="info">
    Green Energy Around Me is a progressive web application designed to <span>empower</span> users to adopt sustainable transportation practices by facilitating access to electric vehicle (EV) charging infrastructure. With a primary focus on environmental consciousness, the application allows individuals to effortlessly discover and locate nearby electric vehicle charging stations within their vicinity.
    By providing comprehensive information about available charging stations, including their locations, availability, operators, fees, and more, the app aims to streamline the transition to electric vehicles. Moreover, it promotes the use of renewable energy sources, contributing to the reduction of greenhouse gas emissions and combating climate change.
</div>
</div>

