* {
    margin: 0;
    padding: 0;
}
.info{
    margin-left: 10vh;
    margin-top: 10vh;
    border: 3px solid #4cd137;
    width:35vw;
    height:auto;
    font-size: larger;
    font-family: "Roboto", sans-serif;
    color: white;
    position: absolute;
    box-shadow: 12px 13px 22px 1px rgba(88,88,88,1);
    -webkit-box-shadow: 12px 13px 22px 1px rgba(88,88,88,1);
    -moz-box-shadow: 12px 13px 22px 1px rgba(88,88,88,1);
    font-family: "Roboto", sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 4vh;
}
.body{
    position: relative;
    width:100vw;
    height:100vh;
    background-image: url("../../assets/electricc2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; 
    padding: 0;
}
span{
    background-color: aqua;
    font-size: 1.5rem;
}

@media only screen and (max-width: 1200px){
.info{
    margin-left: 5vh;
    margin-top: 5vh;
    width:45%;
    padding: 2vh;
}    
}

@media only screen and (max-width: 870px){
    .info{
        margin-left: 4vh;
        margin-top: 4vh;
        width:55%;
        padding: 2vh;
        font-size: 0.8rem ;
    }    
    }
@media only screen and (max-width: 679px){
        .info{
            margin-left: 4vh;
            margin-top: 4vh;
            width:65%;
            padding: 2vh;
            font-size: 0.6rem ;
        }    
}
@media only screen and (max-width: 529px){
        .info{
            margin-left: 4vh;
            margin-top: 4vh;
            width:80%;
            padding: 2vh;
            font-size: 0.6rem ;
        }    
}
@media only screen and (max-width: 379px){
    .info{
        margin-left: 2vh;
        margin-top: 2vh;
        width:93%;
        padding: 2vh;
        font-size: 0.5rem ;
    }    
}